

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
    body{
  padding:100px 0;

  background-color:#efefef;
  
}
a, a:hover{
  color:#333
}
    body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

</style>
<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script > 
$(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
        }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        }
    });
});

</script>
<div class="container" style="width: 95%;">
    <div class="row">
        <form action="/signin" method="POST">
            {% csrf_token %}
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Đăng nhập !!!.</h4>
            <input type="text" id="username"  name="username" class="form-control input-sm chat-input" placeholder="username" required>
            </br>
            <!-- <input type="password" id="password" name = "pass1" class="form-control input-sm chat-input"   data-toggle="password" placeholder="password" />
            </br> -->
            <div class="input-group" id="show_hide_password">
                <input class="form-control" type="password" id="password" name = "pass1" required>
                <div class="input-group-addon">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
            </div>
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <!-- <a href="submit" class="btn btn-primary btn-md">login </a> -->
                <button type="submit" class="btn btn-primary btn-md">Sign In <i class="fa fa-sign-in"></i></button>
                <a href="/" style="color: rgb(0, 0, 0);">Quay Lại</a>
            </span>
            </div>
            </div>

        </div>
        </form>
        
    </div>
</div>