</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <title>Create</title>

</head>
<body style="
    padding-top: 0px;
    }
    .form-control { 
    margin-bottom: 10px;
    }
    .login-screen-bg {  
    background-color: #EFEFEF;
    ">
<div class="container"> 
    <h1 class="text-center">Quản Lý Học Sinh</h1> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4"> 
        <form method="POST" enctype="multipart/form-data" class="form" role="form">
            <legend>Thêm mới học sinh!</legend> 
            {% csrf_token %}
            <input class="form-control" name="student_name" placeholder="Họ và Tên" required="" autofocus="" type="text"> </br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Ngày Sinh :</label>
            <input class="form-control" name="student_age" placeholder="" required="" autofocus="" type="date"> </br>
            <input class="form-control" name="student_cccd" placeholder="Căn Cước Công Dân" required="" autofocus="" type=""> </br>
            <input class="form-control" name="student_email" placeholder="Email" type="email"></br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Giới tính :</label>
                <select class="form-control" name="student_sex" id="exampleFormControlSelect1">
                <option>Nam</option>
                <option>Nữ</option>
                <option>Giới Tính khác</option>
                </select></br>
            <input class="form-control" name="student_class" placeholder="Lớp" type="text"></br>
            <input class="form-control" name="student_address" placeholder="Địa chỉ" type="text"></br>  
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Chọn ảnh :</label>
            <input class="form-control" name="student_img" placeholder="Ảnh" type="" ></br>

            

            <button class="btn btn-lg btn-primary btn-block" type="submit"> Hoành Thành</button> 
            <a href="/">Quay lại</a>
        </form>
        </div>
    </div>
</div>

</body>
</html>