
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <title>Updata</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Quản Lý Học Sinh</h1>   
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4"> 
            <legend>Cập nhật !</legend> 
        <form   method="POST" enctype="multipart/form-data" class="form" role="form">
        {% csrf_token %}
        
  
         
            <!-- <textarea name="student_name" cols="20" rows="1.5" required=""  id="id_student_name">{{ obj.student_name }}</textarea> -->
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Tên :</label>
            <input class="form-control" name="student_name" placeholder="" required="" autofocus="" type="text" value="{{ obj.student_name }}"> </br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Ngày Sinh :</label>
            <input class="form-control" name="student_age" placeholder="" required="" autofocus="" type="date" value="{{ obj.student_age }}"> </br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Căn Cước Công Dân :</label>

            <input class="form-control" name="student_cccd" placeholder="Căn Cước Công Dân" required="" autofocus="" type=""value="{{ obj.student_cccd }}"> </br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Nhập email :</label>
            <input class="form-control" name="student_email" placeholder="Email" type="email" value="{{ obj.student_email }}"></br>
        
            
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Giới tính :</label>
            
                <select class="form-control" name="student_sex" id="exampleFormControlSelect1">
                    <option>Nam</option>
                    <option>Nữ</option>
                    <option>Giới Tính khác</option>
                  </select></br>

                
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Nhập lớp học :</label>
            <input class="form-control" name="student_class" placeholder="Lớp" type="text" value="{{ obj.student_class }}"></br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Nhập Địa Chỉ :</label>
            <input class="form-control" name="student_address" placeholder="Địa chỉ" type="text" value="{{ obj.student_address }}"></br>
            <label style="padding-left: 5px;" for="exampleFormControlSelect1">Nhập ảnh :</label>
            <input class="form-control" name="student_img" placeholder="Ảnh" type="" value="{{ obj.student_img }}"></br>
                
     
            <input type="submit" value="Update"> <a href="/">quay lại</a>
        </form>
        </div>
        </div>
    </div>
    
</body>
</html>