<!-- {% extends 'polls/base.html'%}

{% block content123 %}
    {% if dsquest %}
        <h2>Danh Sách</h2>
        
        <table border="1">
            <tr>
                <th style="padding-right: 120px;">TÊN</th>
                <th  style="padding-right: 35px;">Ngày sinh</th>
                <th  style="padding-right: 25px;">Căn Dước CD</th>
                <th  style="padding-right: 25px;">Email</th>
                <th  style="padding-right: 25px;">GIỚI TÍNH</th>
                <th style="padding-right: 25px;">LỚP HỌC</th>
                <th style="padding-right: 120px;">ĐỊA CHỈ</th>
                <th style="padding-right: 120px;">Ảnh</th>
                <th style="padding-right: 25px;">Cập nhật</th>
                <th style="padding-right: 15px;">Delete</th>
            </tr>
            {% for item in dsquest %}

                <tr>
                    <td>{{ item.student_name }}</td>
                    <td>{{ item.student_age }}</td>
                    <td>{{ item.student_cccd }}</td>
                    <td>{{ item.student_email }}</td>
                    <td>{{ item.student_sex }}</td>
                    <td>{{ item.student_class }}</td>
                    <td>{{ item.student_address }}</td>
                    <td>{{ item.student_img }}</td>
                    <td style="width: 90px;"><a href="http://127.0.0.1:8000/polls/{{item.id }}/update"> <img style=" width: 30% ;height :30%;padding-left: 30px;" src='https://icons-for-free.com/iconfiles/png/512/refrech+reload+update+icon-1320183286183595853.png'></a></td>
                    <td style="width: 90px;"><a href="http://127.0.0.1:8000/polls/{{item.id }}/delete"><img style=" width: 25% ;height :25%;padding-left: 32px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdYawJDW2yNQSgvFBAdPgNZqEbcbZG3kp6pA&usqp=CAU" alt=""></a></td>
                </tr>
           
            {% endfor %}
            
        </table>
        </br>
        <a href="http://127.0.0.1:8000/student/add">Thêm mới học sinh</a>
    {% else %}
        <h3 style="color: red;">Không có dữ liệu</h3>
        <a href="http://127.0.0.1:8000/student/add">Thêm mới học sinh</a>
    {% endif %}
{% endblock %} -->